.header {
    float: left;
    width: 15%;
    height: 460px;
}

.header img {
    width: 50%;
}

.header ul, a, label {
    list-style: none;
    text-decoration: none;
    padding-left: 5px;
    margin-top: 0px;
}

.header ul {
    position: relative;
    top: 10px;
}


.nav_top {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav_top > a {
    position: relative;
    right: 10px;

}

.nav_top .join, .main_content > a {
    color: rgb(52, 223, 52);
    font-weight: 700;
}

.nav_top li + li {
    position:relative;
    margin-top: 12px;
}

.nav_top li + li a {
    color: rgb(175, 149, 149);
}

.nav_bottom {
    margin-top: 30px;
    line-height: 2em;
}

.nav_bottom li a, label, .bottom_content p {
    color: rgb(175, 149, 149);
}

.main_content {
    float: left;
    width: 60%;
    height: 300px;
}


.main_content p {
    color: rgb(175, 149, 149);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.main_content > h1 {
    font-size: 2.3em;
    width: 80%;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
}

.main_content img {
    width: 95%;
    height: 330px;
}

.aside {
    float: left;
    width: 25%;
    height: 460px;
}

.aside h4 {
    font-size: 1.45em;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.bottom_content {
    position: relative;
    top: 50px;
    float: right;
    width: 85%;
}

.bottom_content li {
    clear: both;
    height: 265px;
    border-bottom: 5px solid rgb(244,244,244);
    padding-top: 12px;
}

.aside article, .bottom_content > h4 {
    border-bottom: 5px solid rgb(244,244,244);
    margin-bottom: 20px;
}

.bottom_content > h4 {
    margin-top: 0;
    padding-bottom: 30px;
    font-size: 1.5em;
}

.bottom_content ul {
    list-style: none;
    padding-left: 0;
}


.bottom_content div h2 {
    width: 80%;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
}

.bottom_content div span + br + span {
    color: rgb(175, 149, 149);
    position: relative;
    top: 5px;
    padding-bottom: 20px;
}

.bottom_content ul li div, p, img{
    float: left;
    width: 33.33%;
}

.bottom_content img {
    position: relative;
    height: 200px;
    padding: 10px;
    width: 30%;
} 

.bottom_content p {
    font-size: 1.35em;
}

.span {
    font-size: .75em;
    font-weight: 600;
}